* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: hsl(22.6, 100%, 50%);
    --black: #000;
}

body {
    padding: 1rem;
}

/* Welcome Page Styling */
.welcome-content {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
    position: relative;
    top: 18%;
}

#welcome-section,
#skills-and-projects {
    height: 100vh;
}

.profile-details {
    margin-top: 7em;
}

.profile-image img {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 0 3px hsl(0, 0%, 100%), 0 0 0 5px var(--main-color);
}

.profile-name {
    margin-left: 1rem;
}

.profile-name h1 {
    width: max-content;
}
.profile-name h1::after {
    content: "";
    border-bottom: 2px solid var(--black);
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 1%;
}

.profile-summary {
    font-size: 20px;
    background-color: var(--main-color);
    color: #fff;
    right: 2rem;
    position: relative;
    top: 20%;
}

.profile-summary::before,
.profile-summary::after {
    content: "";
    display: block;
    border-top: 2px solid var(--main-color);
    width: 30%;
    position: relative;
    bottom: 5px;
  }

.profile-summary::after {
    content: "";
    top: 5px;
    left: 70%;
}

.profile-summary p {
    padding: 1rem;
} 

/* END Welcome Page Styling */

/* Projects and Skills Styling */
.skills-and-projects-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.project-container {
    display: none;
}

.project-container.active {
    display: flex;
}

.projects {
    height: max-content;
}

.project-arrow-button {
    display: none;
    width: fit-content;
    position: absolute;
    bottom: -40%;
    font-size: 30px;
}
.project-arrow-button:hover {
    cursor: pointer;
}

.project-arrow-button.active {
    display: block;
}

.right-arrow {
    left: 73%;
}

.project-details {
    margin-left: 10px;
}

.project-header {
    margin-bottom: 1rem;
}

.project-header h3 {
    width: max-content;
}
.project-header h3::after {
    content: "";
    width: 70%;
    display: block;
    border-bottom: 2px solid var(--black);
}
  
.project-image {
    width: 590px;
    height: 350px;
}
  
.project-image img {
    width: inherit;
    height: inherit;
}

.project-summary {
    font-size: 17px;
    margin-bottom: 1rem;
}

.project-button {
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--black);
    padding: 5px 10px;
}
.project-button:hover {
    background-color: var(--main-color);
    color: #fff;
    border: none;
}

/* END Projects and Skills Styling */

@media screen and (max-width: 957px) {
    /* Welcome Page Styling */
    #welcome-section, #skills-and-projects {
        height: fit-content;
    }

    .welcome-content {
        display: block;
        top: 0;
        height: inherit;
    }

    .profile-image {
        margin: auto;
        width: fit-content;
    }

    .profile-details {
        margin: 0;
    }

    .profile-name {
        margin: auto;
        margin-top: 3rem;
        width: fit-content;
    }

    .profile-summary {
        right: 0;
        top: 0;
        margin-top: 3rem;
    }
}