@import "tailwindcss";

@theme {
    --color-primary-color: #ff9527;
    --color-secondary-color: #666;
    --color-custom-black-color: #000;
    --color-custom-white-color: #fff;
    --text-shadow-primary: 1px 2px 1px #ff952761;
}

* {
    font-family: 'Poppins', sans-serif;
}